{% extends 'base.html.twig' %}
{% block body %}
	<h1>Titre</h1>

	<p>Sint consectetur nulla reprehenderit veniam dolor ex qui excepteur in culpa. Dolore occaecat id cillum officia. Dolore eu ullamco elit esse culpa. 
								Elit non qui sunt cillum laborum nostrud laboris aliquip minim.</p>

{% endblock %}
