{% extends 'base.html.twig' %}

{% block body %}
	{{form_start(formResponse)}}
	<div class="form-group">
		<label for="">Device</label>
		{{form_widget(formResponse)}}
		<button type="submit">select</button>
	</div>
	{{form_end(formResponse)}}
{% endblock %}
